openapi: 3.1.0
info:
  title: darkTunes Music Group API
  description: |
    REST API for the darkTunes Music Group website (Next.js 15 App Router).

    **Authentication**
    - `SessionBearer`: Supabase JWT for authenticated users (portal, account, press).
    - `AdminBearer`: Supabase JWT with `admin` or `editor` role (admin routes).
    - `CronSecret`: Bearer token matching `CRON_SECRET` for scheduled sync/cache jobs.

    **Error format** (all routes via `withErrorHandler`):
    ```json
    { "error": "Human-readable message", "code": "OPTIONAL_ERROR_CODE" }
    ```
  version: 1.0.0
  contact:
    name: darkTunes Music Group
    url: https://darktunes.com

servers:
  - url: https://darktunes.com
    description: Production
  - url: http://localhost:3000
    description: Local development

tags:
  - name: Account
    description: "Authenticated user account management (GDPR export, display name, deletion)."
  - name: Admin
    description: CMS and back-office endpoints (admin or editor role required).
  - name: Auth
    description: Public authentication helpers.
  - name: Cache
    description: On-demand ISR cache revalidation (secret-protected).
  - name: EPK
    description: Electronic press kit sharing and export.
  - name: Health
    description: System health probes and alerting.
  - name: Journalist Applications
    description: Press accreditation application flow.
  - name: Newsletter
    description: Double opt-in newsletter subscription.
  - name: Partner API
    description: "Public, versioned REST API (/api/v1/*) for partner organizations. Bearer organization API key (dt_live_…), gated behind the partner_api feature flag and per-key scopes. Data is isolated to the calling organization. Follows the Zalando RESTful API Guidelines."
  - name: Portal
    description: Artist portal dashboard APIs.
  - name: Press
    description: Journalist/press dashboard APIs.
  - name: Public
    description: Unauthenticated public endpoints.
  - name: Sync
    description: Artist/release sync jobs (cron or admin triggered).
  - name: Upload
    description: Media upload endpoints.

components:
  securitySchemes:
    SessionBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase access token (portal artist, press journalist, account owner).
    AdminBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase access token with admin or editor role.
    CronSecret:
      type: http
      scheme: bearer
      description: Static secret from CRON_SECRET env var (Supabase Cron / internal jobs).
    PartnerApiKey:
      type: http
      scheme: bearer
      description: >
        Organization API key, prefixed `dt_live_`, sent as `Authorization: Bearer <key>`.
        Keys carry scopes (e.g. `read`, or `*` for all) and are validated against
        organization_api_keys; revoked keys are rejected. The owning organization
        must have the `partner_api` feature enabled.

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
        code:
          type: string
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
    ContactRequest:
      type: object
      required: [name, email, topic, message, gdprConsent]
      properties:
        name: { type: string, minLength: 1 }
        email: { type: string, format: email }
        topic: { type: string, minLength: 1, maxLength: 100 }
        message: { type: string, minLength: 20 }
        gdprConsent: { type: boolean, enum: [true] }
        website: { type: string, maxLength: 0, description: "Honeypot field - must be empty" }
    ForgotPasswordRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }
    NewsletterSubscribeRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }
    DisplayNameUpdate:
      type: object
      required: [displayName]
      properties:
        displayName: { type: string, minLength: 1, maxLength: 120 }
    HealthLiveness:
      type: object
      properties:
        status: { type: string, enum: [ok, degraded] }
        database:
          type: object
          properties:
            status: { type: string, enum: [online, offline] }
    PartnerArtist:
      type: object
      description: Artist record scoped to the calling organization.
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        slug: { type: string }
        genres: { type: array, items: { type: string } }
        country: { type: string, nullable: true }
        is_visible: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time, description: "Detail endpoint only." }
    PartnerRelease:
      type: object
      description: Release record scoped to the calling organization.
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        artist_id: { type: string, format: uuid }
        release_date: { type: string, format: date, nullable: true }
        type: { type: string, nullable: true }
        catalog_number: { type: string, nullable: true }
        isrc: { type: string, nullable: true }
        featured: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time, description: "Detail endpoint only." }
    PartnerReleaseSubmission:
      type: object
      description: Release submission scoped to the calling organization.
      properties:
        id: { type: string, format: uuid }
        artist_id: { type: string, format: uuid }
        status: { type: string }
        title: { type: string }
        release_date: { type: string, format: date, nullable: true }
        type: { type: string, nullable: true }
        genre: { type: string, nullable: true }
        isrc: { type: string, nullable: true }
        catalog_number: { type: string, nullable: true }
        audio_download_url: { type: string, nullable: true, description: "Detail endpoint only." }
        cover_art_url: { type: string, nullable: true, description: "Detail endpoint only." }
        notes: { type: string, nullable: true, description: "Detail endpoint only." }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    PartnerArtistList:
      type: object
      required: [data, nextCursor]
      properties:
        data: { type: array, items: { $ref: "#/components/schemas/PartnerArtist" } }
        nextCursor: { type: string, nullable: true, description: "Opaque cursor for the next page, or null when exhausted." }
    PartnerReleaseList:
      type: object
      required: [data, nextCursor]
      properties:
        data: { type: array, items: { $ref: "#/components/schemas/PartnerRelease" } }
        nextCursor: { type: string, nullable: true }
    PartnerReleaseSubmissionList:
      type: object
      required: [data, nextCursor]
      properties:
        data: { type: array, items: { $ref: "#/components/schemas/PartnerReleaseSubmission" } }
        nextCursor: { type: string, nullable: true }
    PartnerArtistEnvelope:
      type: object
      required: [data]
      properties:
        data: { $ref: "#/components/schemas/PartnerArtist" }
    PartnerReleaseEnvelope:
      type: object
      required: [data]
      properties:
        data: { $ref: "#/components/schemas/PartnerRelease" }
    PartnerReleaseSubmissionEnvelope:
      type: object
      required: [data]
      properties:
        data: { $ref: "#/components/schemas/PartnerReleaseSubmission" }
    PartnerAnalyticsExport:
      type: object
      description: JSON analytics payload (returned when format=json; default response is text/csv).
      properties:
        stats: { type: array, items: { type: object, additionalProperties: true } }
        territoryMetrics: { type: array, items: { type: object, additionalProperties: true } }
        listenerMetrics: { type: array, items: { type: object, additionalProperties: true } }
        statements: { type: array, items: { type: object, additionalProperties: true } }

  responses:
    BadRequest:
      description: Validation error
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Forbidden:
      description: Insufficient role or permission
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }

paths:
  /api/account:
    delete:
      operationId: deleteaccount
      tags: [Account]
      summary: Delete /api/account
      security:
        - SessionBearer: []
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/account/display-name:
    patch:
      operationId: patchaccount_display-name
      tags: [Account]
      summary: Update /api/account/display-name
      security:
        - SessionBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisplayNameUpdate"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/account/export:
    get:
      operationId: getaccount_export
      tags: [Account]
      summary: Retrieve /api/account/export
      security:
        - SessionBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/analytics/sync-listeners:
    post:
      operationId: postadmin_analytics_sync-listeners
      tags: [Admin]
      summary: Create or submit /api/admin/analytics/sync-listeners
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/analytics/sync-spotify-plays:
    post:
      operationId: postadmin_analytics_sync-spotify-plays
      tags: [Admin]
      summary: Create or submit /api/admin/analytics/sync-spotify-plays
      security:
        - CronSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/api-credentials:
    get:
      operationId: getadmin_api-credentials
      tags: [Admin]
      summary: list credential status (no plaintext)
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      operationId: putadmin_api-credentials
      tags: [Admin]
      summary: list credential status (no plaintext)
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/api-credentials/{key}:
    delete:
      operationId: deleteadmin_api-credentials_ById
      tags: [Admin]
      summary: remove a stored credential
      security:
        - AdminBearer: []
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/artists:
    get:
      operationId: getadmin_artists
      tags: [Admin]
      summary: Retrieve /api/admin/artists
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/artists/{id}/invite:
    post:
      operationId: postadmin_artists_ById_invite
      tags: [Admin]
      summary: "Create or submit /api/admin/artists/{id}/invite"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/assets:
    get:
      operationId: getadmin_assets
      tags: [Admin]
      summary: Retrieve /api/admin/assets
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/assets/{id}:
    patch:
      operationId: patchadmin_assets_ById
      tags: [Admin]
      summary: "Update /api/admin/assets/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteadmin_assets_ById
      tags: [Admin]
      summary: "Delete /api/admin/assets/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/assets/batch:
    delete:
      operationId: deleteadmin_assets_batch
      tags: [Admin]
      summary: Delete /api/admin/assets/batch
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/assets/bulk-press:
    post:
      operationId: postadmin_assets_bulk-press
      tags: [Admin]
      summary: Create or submit /api/admin/assets/bulk-press
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/assets/folders:
    get:
      operationId: getadmin_assets_folders
      tags: [Admin]
      summary: Retrieve /api/admin/assets/folders
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_assets_folders
      tags: [Admin]
      summary: Create or submit /api/admin/assets/folders
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/assets/folders/{id}:
    patch:
      operationId: patchadmin_assets_folders_ById
      tags: [Admin]
      summary: "Update /api/admin/assets/folders/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteadmin_assets_folders_ById
      tags: [Admin]
      summary: "Delete /api/admin/assets/folders/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/assets/storage-stats:
    get:
      operationId: getadmin_assets_storage-stats
      tags: [Admin]
      summary: Retrieve /api/admin/assets/storage-stats
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/cleanup-orphaned-releases:
    post:
      operationId: postadmin_cleanup-orphaned-releases
      tags: [Admin]
      summary: Create or submit /api/admin/cleanup-orphaned-releases
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/concerts:
    post:
      operationId: postadmin_concerts
      tags: [Admin]
      summary: create a concert (artistId required in body)
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: patchadmin_concerts
      tags: [Admin]
      summary: create a concert (artistId required in body)
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteadmin_concerts
      tags: [Admin]
      summary: create a concert (artistId required in body)
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/custom-domains:
    get:
      operationId: getadmin_custom-domains
      tags: [Admin]
      summary: Retrieve /api/admin/custom-domains
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_custom-domains
      tags: [Admin]
      summary: Create or submit /api/admin/custom-domains
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/custom-domains/verify:
    post:
      operationId: postadmin_custom-domains_verify
      tags: [Admin]
      summary: Create or submit /api/admin/custom-domains/verify
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/enrich-artist-discogs:
    post:
      operationId: postadmin_enrich-artist-discogs
      tags: [Admin]
      summary: Create or submit /api/admin/enrich-artist-discogs
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/epk-templates:
    get:
      operationId: getadmin_epk-templates
      tags: [Admin]
      summary: GET — list all EPK templates for the host organization (admin) POST — create template
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_epk-templates
      tags: [Admin]
      summary: GET — list all EPK templates for the host organization (admin) POST — create template
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: patchadmin_epk-templates
      tags: [Admin]
      summary: GET — list all EPK templates for the host organization (admin) POST — create template
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteadmin_epk-templates
      tags: [Admin]
      summary: GET — list all EPK templates for the host organization (admin) POST — create template
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/fan-page/review/{artistId}:
    post:
      operationId: postadmin_fan-page_review_ById
      tags: [Admin]
      summary: POST — Admin approve/reject Fan Page
      security:
        - AdminBearer: []
      parameters:
        - name: artistId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/fan-page/review/{artistId}/preview-token:
    get:
      operationId: getadmin_fan-page_review_ById_preview-token
      tags: [Admin]
      summary: short-lived fan page preview link
      security:
        - AdminBearer: []
      parameters:
        - name: artistId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/fan-page/review/{artistId}/trusted:
    patch:
      operationId: patchadmin_fan-page_review_ById_trusted
      tags: [Admin]
      summary: toggle direct fan page publish
      security:
        - AdminBearer: []
      parameters:
        - name: artistId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/fan-page/reviews:
    get:
      operationId: getadmin_fan-page_reviews
      tags: [Admin]
      summary: list fan pages for admin review
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/feature-flags/{id}:
    patch:
      operationId: patchadmin_feature-flags_ById
      tags: [Admin]
      summary: "Update /api/admin/feature-flags/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/feedback:
    get:
      operationId: getadmin_feedback
      tags: [Admin]
      summary: list artist product feedback for admin/editor
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/feedback/{id}:
    patch:
      operationId: patchadmin_feedback_ById
      tags: [Admin]
      summary: update feedback status
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/fetch-artist-image:
    post:
      operationId: postadmin_fetch-artist-image
      tags: [Admin]
      summary: Create or submit /api/admin/fetch-artist-image
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/fetch-youtube-info:
    post:
      operationId: postadmin_fetch-youtube-info
      tags: [Admin]
      summary: Create or submit /api/admin/fetch-youtube-info
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/genres:
    get:
      operationId: getadmin_genres
      tags: [Admin]
      summary: "list all genres (public, no auth required)"
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_genres
      tags: [Admin]
      summary: "list all genres (public, no auth required)"
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteadmin_genres
      tags: [Admin]
      summary: "list all genres (public, no auth required)"
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/invoices/{id}/payment:
    patch:
      operationId: patchadmin_invoices_ById_payment
      tags: [Admin]
      summary: "Update /api/admin/invoices/{id}/payment"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/invoices/{id}/received:
    patch:
      operationId: patchadmin_invoices_ById_received
      tags: [Admin]
      summary: "Update /api/admin/invoices/{id}/received"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/maintenance/clear-accreditations:
    post:
      operationId: postadmin_maintenance_clear-accreditations
      tags: [Admin]
      summary: Create or submit /api/admin/maintenance/clear-accreditations
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/maintenance/clear-logs:
    post:
      operationId: postadmin_maintenance_clear-logs
      tags: [Admin]
      summary: Create or submit /api/admin/maintenance/clear-logs
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/maintenance/clear-stats:
    post:
      operationId: postadmin_maintenance_clear-stats
      tags: [Admin]
      summary: Create or submit /api/admin/maintenance/clear-stats
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/maintenance/purge-releases:
    post:
      operationId: postadmin_maintenance_purge-releases
      tags: [Admin]
      summary: Create or submit /api/admin/maintenance/purge-releases
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/maintenance/requeue-sync-jobs:
    get:
      operationId: getadmin_maintenance_requeue-sync-jobs
      tags: [Admin]
      summary: Retrieve /api/admin/maintenance/requeue-sync-jobs
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_maintenance_requeue-sync-jobs
      tags: [Admin]
      summary: Create or submit /api/admin/maintenance/requeue-sync-jobs
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/maintenance/reset-accreditations:
    post:
      operationId: postadmin_maintenance_reset-accreditations
      tags: [Admin]
      summary: Create or submit /api/admin/maintenance/reset-accreditations
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/maintenance/strip-release-suffixes:
    post:
      operationId: postadmin_maintenance_strip-release-suffixes
      tags: [Admin]
      summary: Create or submit /api/admin/maintenance/strip-release-suffixes
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/messages/{id}/export:
    get:
      operationId: getadmin_messages_ById_export
      tags: [Admin]
      summary: "Retrieve /api/admin/messages/{id}/export"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/messages/{id}/notes:
    get:
      operationId: getadmin_messages_ById_notes
      tags: [Admin]
      summary: "GET/POST /api/admin/messages/[id]/notes?source=portal|label Staff-only internal notes."
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_messages_ById_notes
      tags: [Admin]
      summary: "GET/POST /api/admin/messages/[id]/notes?source=portal|label Staff-only internal notes."
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/messages/{id}/ops:
    patch:
      operationId: patchadmin_messages_ById_ops
      tags: [Admin]
      summary: "Update /api/admin/messages/{id}/ops"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/messages/send:
    post:
      operationId: postadmin_messages_send
      tags: [Admin]
      summary: Create or submit /api/admin/messages/send
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/organization-api-keys:
    get:
      operationId: getadmin_organization-api-keys
      tags: [Admin]
      summary: Retrieve /api/admin/organization-api-keys
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_organization-api-keys
      tags: [Admin]
      summary: Create or submit /api/admin/organization-api-keys
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/organization-audit-log:
    get:
      operationId: getadmin_organization-audit-log
      tags: [Admin]
      summary: Retrieve /api/admin/organization-audit-log
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/organization-webhooks:
    get:
      operationId: getadmin_organization-webhooks
      tags: [Admin]
      summary: Retrieve /api/admin/organization-webhooks
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_organization-webhooks
      tags: [Admin]
      summary: Create or submit /api/admin/organization-webhooks
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/organization-webhooks/{id}:
    patch:
      operationId: patchadmin_organization-webhooks_ById
      tags: [Admin]
      summary: "Update /api/admin/organization-webhooks/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteadmin_organization-webhooks_ById
      tags: [Admin]
      summary: "Delete /api/admin/organization-webhooks/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/organizations:
    get:
      operationId: getadmin_organizations
      tags: [Admin]
      summary: Retrieve /api/admin/organizations
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/organizations/{id}/export:
    get:
      operationId: getadmin_organizations_ById_export
      tags: [Admin]
      summary: "Retrieve /api/admin/organizations/{id}/export"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/partner-webhooks/emit:
    post:
      operationId: postadmin_partner-webhooks_emit
      tags: [Admin]
      summary: Create or submit /api/admin/partner-webhooks/emit
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/portal-faq/categories:
    get:
      operationId: getadmin_portal-faq_categories
      tags: [Admin]
      summary: Retrieve /api/admin/portal-faq/categories
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_portal-faq_categories
      tags: [Admin]
      summary: Create or submit /api/admin/portal-faq/categories
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/portal-faq/categories/{id}:
    patch:
      operationId: patchadmin_portal-faq_categories_ById
      tags: [Admin]
      summary: "Update /api/admin/portal-faq/categories/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteadmin_portal-faq_categories_ById
      tags: [Admin]
      summary: "Delete /api/admin/portal-faq/categories/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/portal-faq/items:
    get:
      operationId: getadmin_portal-faq_items
      tags: [Admin]
      summary: Retrieve /api/admin/portal-faq/items
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_portal-faq_items
      tags: [Admin]
      summary: Create or submit /api/admin/portal-faq/items
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/portal-faq/items/{id}:
    patch:
      operationId: patchadmin_portal-faq_items_ById
      tags: [Admin]
      summary: "Update /api/admin/portal-faq/items/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteadmin_portal-faq_items_ById
      tags: [Admin]
      summary: "Delete /api/admin/portal-faq/items/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/prefill-artist:
    post:
      operationId: postadmin_prefill-artist
      tags: [Admin]
      summary: Create or submit /api/admin/prefill-artist
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/prefill-artist-itunes:
    post:
      operationId: postadmin_prefill-artist-itunes
      tags: [Admin]
      summary: Create or submit /api/admin/prefill-artist-itunes
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/press-kit:
    get:
      operationId: getadmin_press-kit
      tags: [Admin]
      summary: Retrieve /api/admin/press-kit
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_press-kit
      tags: [Admin]
      summary: Create or submit /api/admin/press-kit
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/press-kit/{id}:
    delete:
      operationId: deleteadmin_press-kit_ById
      tags: [Admin]
      summary: "Delete /api/admin/press-kit/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/press-kit/reorder:
    patch:
      operationId: patchadmin_press-kit_reorder
      tags: [Admin]
      summary: Update /api/admin/press-kit/reorder
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/promo-log:
    get:
      operationId: getadmin_promo-log
      tags: [Admin]
      summary: Retrieve /api/admin/promo-log
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_promo-log
      tags: [Admin]
      summary: Create or submit /api/admin/promo-log
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: patchadmin_promo-log
      tags: [Admin]
      summary: Update /api/admin/promo-log
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteadmin_promo-log
      tags: [Admin]
      summary: Delete /api/admin/promo-log
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/promo-log/upload-proof:
    post:
      operationId: postadmin_promo-log_upload-proof
      tags: [Admin]
      summary: Create or submit /api/admin/promo-log/upload-proof
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/rbac-audit:
    get:
      operationId: getadmin_rbac-audit
      tags: [Admin]
      summary: Retrieve /api/admin/rbac-audit
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/release-submissions:
    get:
      operationId: getadmin_release-submissions
      tags: [Admin]
      summary: Retrieve /api/admin/release-submissions
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/release-submissions/{id}:
    get:
      operationId: getadmin_release-submissions_ById
      tags: [Admin]
      summary: "Retrieve /api/admin/release-submissions/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_release-submissions_ById
      tags: [Admin]
      summary: "Create or submit /api/admin/release-submissions/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: patchadmin_release-submissions_ById
      tags: [Admin]
      summary: "Update /api/admin/release-submissions/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/release-submissions/{id}/export-believe:
    get:
      operationId: getadmin_release-submissions_ById_export-believe
      tags: [Admin]
      summary: "Retrieve /api/admin/release-submissions/{id}/export-believe"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/release-submissions/export:
    get:
      operationId: getadmin_release-submissions_export
      tags: [Admin]
      summary: Retrieve /api/admin/release-submissions/export
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/release-submissions/export-columns:
    get:
      operationId: getadmin_release-submissions_export-columns
      tags: [Admin]
      summary: Retrieve /api/admin/release-submissions/export-columns
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      operationId: putadmin_release-submissions_export-columns
      tags: [Admin]
      summary: Replace /api/admin/release-submissions/export-columns
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/resolve-release-smart-link:
    post:
      operationId: postadmin_resolve-release-smart-link
      tags: [Admin]
      summary: Create or submit /api/admin/resolve-release-smart-link
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/roles/custom:
    get:
      operationId: getadmin_roles_custom
      tags: [Admin]
      summary: List all custom roles with their permissions.
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_roles_custom
      tags: [Admin]
      summary: List all custom roles with their permissions.
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/roles/custom/{id}:
    get:
      operationId: getadmin_roles_custom_ById
      tags: [Admin]
      summary: Get a single custom role with its permissions.
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: patchadmin_roles_custom_ById
      tags: [Admin]
      summary: Get a single custom role with its permissions.
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteadmin_roles_custom_ById
      tags: [Admin]
      summary: Get a single custom role with its permissions.
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/roles/permissions:
    get:
      operationId: getadmin_roles_permissions
      tags: [Admin]
      summary: Retrieve /api/admin/roles/permissions
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: patchadmin_roles_permissions
      tags: [Admin]
      summary: Update /api/admin/roles/permissions
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/roles/permissions-def:
    get:
      operationId: getadmin_roles_permissions-def
      tags: [Admin]
      summary: List all custom permission definitions.
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: postadmin_roles_permissions-def
      tags: [Admin]
      summary: List all custom permission definitions.
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/roles/permissions-def/{id}:
    patch:
      operationId: patchadmin_roles_permissions-def_ById
      tags: [Admin]
      summary: Update label or description.
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteadmin_roles_permissions-def_ById
      tags: [Admin]
      summary: Update label or description.
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/sales-statements/{id}:
    delete:
      operationId: deleteadmin_sales-statements_ById
      tags: [Admin]
      summary: "Delete /api/admin/sales-statements/{id}"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/sales-statements/{id}/approve:
    patch:
      operationId: patchadmin_sales-statements_ById_approve
      tags: [Admin]
      summary: "Update /api/admin/sales-statements/{id}/approve"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/sales-statements/{id}/correction:
    post:
      operationId: postadmin_sales-statements_ById_correction
      tags: [Admin]
      summary: "Create or submit /api/admin/sales-statements/{id}/correction"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/sales-statements/bulk-approve:
    post:
      operationId: postadmin_sales-statements_bulk-approve
      tags: [Admin]
      summary: Create or submit /api/admin/sales-statements/bulk-approve
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/send-external-email:
    post:
      operationId: postadmin_send-external-email
      tags: [Admin]
      summary: Create or submit /api/admin/send-external-email
      security:
        - AdminBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/settlements/periods:
    get:
      operationId: getadmin_settlements_periods
      tags: [Admin]
      summary: Retrieve /api/admin/settlements/periods
      security:
        - AdminBearer: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/admin/settlements/periods/{id}/archive:
    post:
      operationId: postadmin_settlements_periods_ById_archive
      tags: [Admin]
      summary: "Create or submit /api/admin/settlements/periods/{id}/archive"
      security:
        - AdminBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
[...]
